<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzcominfo.application.auth.settings.kernel.mapper.LogUserLoginMapper">
    <!-- 以下与实体类的中字段一致 -->
    <sql id="selectId">
        ID,
        USER_ID,
        USER_NAME,
        LOGIN_TIME,
        LOGIN_IP
    </sql>
     <select id="findByPage" resultType="com.hzcominfo.application.auth.settings.kernel.entity.LogUserLoginFormMap">
    select 
    <include refid="selectId" />
    FROM LOG_USER_LOGIN
    <if test="userName !='' and userName != null">
      where USER_NAME like '%${userName}%'
    </if>
    <if test="column !=null and column != ''">
      order by ${column} ${sort}
    </if>
    </select>
</mapper>